#bill{
  background: #f9ebeb;
  /* background: #55c6b6; */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
  width: 20%;
  position: absolute;
  right: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  /* color: white; */
  /* border-left: 1px solid #ebebeb; */
      /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
padding: 20px;
}
.product h1{
  color: #648cd6;
}
#usertitle{
  color: #648cd6 ;
}
#kassa{
  /* width: 60%; */
      /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px 2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
      /* background: black !important; */
      background: #ebebeb;

}
.mdl-layout__content{
  /* background: black !important; */
}
.mdl-layout__header{
  background: white;
  color: black;
}
.mdl-layout__drawer{
/* background: #d66464; */
}
#kassa{
  height: 100%;
  display: flex;
}
#bill{
  height: 100%;
  /* display: flex; */
}
#actions{
  position: absolute;
  bottom: 0;
  height: 10%;
  padding-bottom: 10px;
  /* background: #847373; */
  /* background: #ebebeb; */
  width: 100%;
}
#products{
  height: 90%;
  width: 80%;
  margin:10px;

  /* background: #ebebeb; */
}
.mdl-layout__content{
  display: grid;
}
.product{
  background-color: white !important;
  cursor: pointer;
  height: 120px;
  border-radius: 2px;
  display: flex;
  position: relative;
  margin: 2px !important;
  display: inline-grid;
   /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
  width: 120px;
  /* padding: 10px; */
}
#head{
  height: 30px;
  font-size: 20px;
  padding: 10px;
  /* background: white; */
  /* background:  #ebebeb; */
  display: table;
  width: 100%;
  /* color: white; */
}
button{
  margin: 0 10px !important;
}
.actie{
  cursor: pointer;
  background: white;
  height: 70%;
  width: 5%;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 5%;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
  /* width: 10%; */
  padding: 10px;
}
#due{
  position: absolute;
  bottom: 20px;
  padding-left: 20px;
  font-size: 30px;
  /* width: 100%; */
  /* text-align: center; */
}
.mdl-navigation__link , .mdl-layout__drawer > .mdl-layout-title{
  /* color: white !important; */
}
.mdl-button--accent{
  background: #648cd6 !important
  /* color: black !important; */
}
.mdl-button--colored{
  background: rgb(255, 155, 155) !important;
  /* color: black !important; */
}
.productName{
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  bottom:0;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 0px 0 2  px 2px;
  padding-top: 5px;
  user-select: none;
}
.user{
  cursor: pointer;
}
.mdl-snackbar, .mdl-js-snackbar{
  /* top: 0 !important;
  right: 0 !important;
  width: 100%;
  text-align: right; */
}
#Fris{background: url('https://images-na.ssl-images-amazon.com/images/I/511rL-aYd9L._SX385_.jpg') center / cover;}
#Blikje{background: url('assets/blikje.jpeg') center / cover;}
#icetea{background: url('https://www.horescasmulders.nl/img/products/large/7210051_02.jpg') center / cover; }
#Bier{background: url('http://www.weekvanhetnederlandsebier.nl/e2/wnb/app/custom/upload/bieren/hertog_jan/2016/.cache/hertog_jan_karakter-80-150_150_2.png') center / cover; }
#fanta{background: url('http://www.destage.com/wp-content/uploads/2014/03/Fanta-Orange-24x20-cl.jpg') center / cover; }
#cassis{background: url('https://www.opisopvoordeelshop.nl/media/catalog/product/cache/image/700x660/e9c3970ab036de70892d86c6d221abfe/2/9/29612_1_1.png') center / cover; }
#appelsap{background: url('https://s3-eu-west-1.amazonaws.com/questionmark-productinfo/images/medium/f4abb74b55c08dd3a21094bcc1b369ff.jpg') center / cover; }
#sinas{background: url('https://s3-eu-west-1.amazonaws.com/questionmark-productinfo/images/medium/3b67488b88e9a47c5deb867a21603193.jpg') center / cover; }
#Wijn{background: url('https://rozemaverhuur.nl/wp-content/uploads/Doos-6st.-rode-wijn-075-ltr-_-Angelo-Nero-d-Avola.jpg') center / cover; }
#Frituur_050{background: url('http://bakeandbite.co.nz/wp-content/uploads/2016/11/Bitterballen-1080x1080.jpg') center / cover; }
#Frituur_150{background: url('https://www.hollandsnackexpress.com/image/cache/catalog/snacks/kroket-200x200.png') center / cover; }
#Frituur_200{background: url('https://ntf.blob.core.windows.net/pictures/2-635949347615548202.jpg') center / cover; }
#Chips{background: url('http://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Lays-Potato-Chips-PNG-Transparent-Image-500x676.png') center / cover; }
#bifi{background: url('https://www.kantinewinkel.nl/images/P/bifi%20xxl.jpg') center / cover; }
#Chocola{background: url('https://jlbrooks.co.uk/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/m/i/mix_chocolate.jpg') center / cover; }
#open{background: url('https://maxcdn.icons8.com/Share/icon/Alphabet//question_mark1600.png') center / cover; }
#Speciaal{background: url('https://www.frank.news/images/easyblog_articles/2295/b2ap3_large_Heineken_Brands-cut-1024x545.png') center / cover;}
#Shots{background: url('https://res-2.cloudinary.com/boozeboodcdn/image/upload/e_trim:10/c_pad,g_south,h_455,w_300/c_limit,h_455,w_300/f_auto,q_auto:best/v1/HD/26306.jpg') center / cover;}
